.close-button {
  align-self: flex-end;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.popup-anim-wrapper {
  max-height: 90vh;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.popup {
  background: #fff;
  width: 90vw;
  max-width: 600px;
  max-height: 85vh;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s forwards;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#currentBorrower {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  margin-top: 5px;
}

.borrow-history-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.borrow-history-scrollbox {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
  border: 1px solid #9B525F;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#borrowerHistory {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}

#borrowerHistory td {
  padding: 8px;
  font-size: 0.95rem;
}

.history-divider {
  background-color: #f3f3f3;
}

.navigation-arrows {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
