/* BorrowPopup.css
//
// Edited by Peter Morganelli, 2/16/25
// Last edited by Dan Glorioso & Hannah Jiang, 3/29/25
//
// Purpose: 
//     This file contains all the styling for the BorrowPopup and 
//     BorrowUnit components */

.custom-popup-large {
  position: absolute;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  left:0;
  top:0;
  height: 99vh;
  width: 100%;
  background: #F8F5F5;
  flex-direction: row;
  align-items: stretch;

  /* box-sizing: border-box; */
  
}

   .containerBorrow {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  
.borrowItemsHeader {
  flex: 1.15; /* more space */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #000;
  min-width: 0; /* allows shrinking */
}

.info-form {
   flex: 1; /* less space */
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem;
  overflow-y: auto;
  box-sizing: border-box;
  min-width: 0;
}
  
.info-header {
  font-size: 2.65rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}
  
  .borrow-header {
    margin-bottom: 1.75rem;
    font-size: 1.35rem;
  }
  
  .borrowItemsContent {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .borrowed-items-container {
    flex: 1;
/*     overflow-y: auto; */
    width: 100%;
  }

  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  
  .pagination {
    display: flex;
    gap: 0.5rem;
  }
  
  .borrowed-item-box {
    background-color: #E3CECE;
    /* padding: 0.75rem 1rem; */
    border-radius: 4px;
    padding: 0.5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    box-sizing: border-box;
    margin-bottom: 0.80rem;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .borrow-image {
    border: 2.5px solid #9b525f;
    position: relative;
    width: 15%;
    aspect-ratio: 1 / 1;
  }

  .borrow-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
  }
  
  .item-name {
    flex: 1;
    margin: 0 3rem;
    font-size: 1.75rem;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-id {
    flex: 0 0 auto;
    font-size: 2rem;
    color: #000;
    font-weight: 1000;
    margin-right: 1rem;
  }
  
  .delete-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
    line-height: 1;
    flex-shrink: 0;
    padding: 0;               
    outline: none;            
    box-shadow: none;         
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .delete-button:hover {
    background-color: #E3CECE;
    color: #FFF;
    transform: scale(1.1);
    cursor: pointer;
}
  
  .form-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    
  }
  
  .form-row.full-width {
    flex-direction: column;
    
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;

    
  }

  .form-group.full-width {
    width: 100%;
  }

  .form-group.half-height {
    width: 100%;
    height: 50%;
  }
  
  .form-group label {
    margin-bottom: 0.25rem;
    font-size: 1.20rem;
    font-weight: 700;
    color: #000;
  }
  

  .form-group select {
    background-color: #fff;
    color: #000;
    padding: 0.75rem;
    border: 1px solid #9b525f;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;


  }

  .form-group input {
    background-color: #fff;
    color: #000;
    padding: 0.75rem;
    border: 1px solid #9b525f;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);


  }

  .form-group-dropdown {
    font: Akatab;
  }

  .form-group select.form-group-dropdown {
    border: 0.5px solid transparent !important;

  }
  
  
  .form-group textarea {
    background-color: #fff;
    color: #000;
    padding: 0.75rem;
    border: 1px solid #9b525f;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
.info-form input.non-editable {
    background-color: #e0e0e0 !important;
    border: 1px solid #ccc !important;
    color: #777 !important;          
    cursor: not-allowed;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  
  .return-date-box {
    background-color: #fff;
    border: 1px solid #9b525f;
    border-radius: 4px;
    padding: 0.12rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  }
  
  
  .selected-return {
    background-color: #9b525f;
    color: white;
    padding: 0.4rem 0.65rem;
    border-radius: 4px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
  }
  
  
  .remove-return {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;

    
  }
  
  
  .return-select {
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  
  .form-actions button {
    padding: 0.725rem 1.35rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  
  .form-actions button[type="cancel"] {
    background-color: #FFFFFF;
    border: 1px solid #9B525F;
    color: #000000;
    transition: 0.3s;
  }

  .form-actions button[type="cancel"]:hover  {
    background-color: #e0e0e0;
  }
  
  .form-actions button[type="submit"] {
    background-color: #007781;
    color: #ffffff;
    transition: 0.3s;
  }

  .form-actions button[type="submit"]:hover {
    background-color: #02545c;
   
  }
  
  .reactjs-popup-content {
    padding: 2rem;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    flex-shrink: 0;
}

  .reactjs-popup-content h2 {
    font-size: 1.75rem;
    color: #4caf50;
  }
  
  .due-date-text {
    font-style: italic;
    color: #000;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    font-weight: 200;
  }
  

  .reactjs-popup-content button {
    background: #4caf50;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
  }


  .success-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .success-popup {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    font-family: Arial, sans-serif;
  }
  
  .success-popup h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;

    color: #000;
    text-align: center;
    font-family: Akatab;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .success-popup p {
    font-family: Akatab;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

  }
  
  .success-popup button {
    margin-top: 2rem;
    padding: 0.625rem 1.5rem;

    cursor: pointer;

    border-radius: 5px;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);


    color: #000;
    text-align: center;
    font-family: Akatab;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
  }

  .success-popup button:hover {
    background-color: #9B525F; 
    color: #FFFFFF;
  }
  
  
  .alert-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
    /* padding: 1rem; */
    border-radius: 8px;
  }
  
  .alert-box {
    background: white;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 35px 10px rgba(0,0,0,0.2);
    align-items: center;
  }

  .alert-box p {
    font-family: Akatab;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1.5vh;
  }

  .alert-box h2 {
      font-size: 1.75rem;
    margin-bottom: 2vh;

    color: #000;
    text-align: center;
    font-family: Akatab;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .alert-row {
    display: flex;
    gap: 1rem;
    align-items: right;
    justify-content: right;
  }
