
/* container for all return items */
.wrapper {
    position: absolute;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    top:0;
    height: 100vh;
    padding: 5vh;
    width: 100%;
    background: #F8F5F5;
}

.header {
    font-size: 2.5rem; 
    justify-content: space-between;
}

.buttons {
    float: right;
}

/* container for all return items */
.itemContainer {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    justify-items: flex-start;
    align-items: baseline;
    margin-top: 2vh;
    width: 85vw;
}

/* one translucent red box */
.returnItem {
    display: flex;
    margin: 1vh 1vw;
    flex-direction: column;
    background-color: #E3CECE;
    border: 1.5px solid #9B525F;
    padding: 1vh 1vw;
    width: 26vw;
    height: 50vh;
    color: black;
    font-family: "Akatab", serif;
    border-radius: 4.813px;
    /* box-shadow: 0px 1.925px 4.813px 0px rgba(0, 0, 0, 0.25); */
    justify-content: space-evenly;
}

/* top row in a given return item box -- containing img, name/id info, 
 * and close out button */
.itemID {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* container for item name and id number -- middle element in .itemID */
.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40%;
    margin-left: 1vw;
}

/* note: will need separate css class for handling exit button */
.exitBtn {
    align-self: flex-start;
    text-align: right;
    padding: 0;
    background: none;
    border: none;
    color: #000000;
    box-shadow: none;
    margin-right: 1px;
    width: 20%;
}

.exitBtn {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.exitBtn:hover {
    background-color: #E3CECE;
    color: #FFF;
    transform: scale(1.1);
    cursor: pointer;
}
/* note: image will need white border styling and sizing */

.notesWrapper {
    height: 15vh;
}

.notesTextbox {
    border-radius: .2rem;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
    height: 11vh;
    width: stretch;
    resize: none;
    overflow: hidden;
    font-size: 1rem;
    padding: .35rem;
    outline: none;
    line-height: 3.5vh;
    text-wrap: wrap;
}

.dropdown-component {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.3rem;
}

.dropdown-component select {
    border-radius: 3px;
    border: 1px solid #9B525F;
    background: #FFF;
    width: 50%;
    padding: 0.5rem;
}

.dropdown {
    border: 1px solid #9B525F;
    background: #FFF;
    padding: 0.5rem;
    width: 100%;
    height: 3.5rem;
    margin-top: 0.6rem;
}

.dropdown select {
    border: 1px solid #9B525F;
    background: #FFF;
    width: stretch;
}

.p-dropdown-panel {
    background-color: #FFF !important;
    border: 1px solid #9B525F;
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
}

.p-dropdown-item {
    padding: 0.5rem;
    background-color: #FFF;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    color:#9B525F;
}

.p-dropdown-item:hover {
    background-color: #efd4da;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out !important;
}

.p-multiselect-item:hover {
    background-color: #efd4da;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out !important;
}

.p-multiselect-panel {
    background-color: #FFF !important;
    border: 1px solid var(--sm_red);
    box-shadow: 0px .1rem .2rem 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
}

.p-multiselect-token {
    color: #9B525F;
     background-color: #9B525F !important;
     border-radius: 0.2rem;
     padding: 0.8rem;
     font-size: 1rem;
    height: 3.5vh;
    margin-right: 0.4rem;
    gap: 0.4rem;
}

.p-multiselect-token-label {
    color: #FFFFFF;
    cursor: pointer;
}


.p-chips-token .p-chips-token-icon {
    color: white !important;
}

.p-multiselect-label-container {
    justify-content: center;
    line-height: 2.3rem;
    padding-top: 0.1vh
}

.p-multiselect-item {
    background-color: #fff;
    padding: 0.5rem;
    border-top: 1px solid #DBDBDB;
    color: #9B525F;
    border-radius: 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.p-inputwrapper-filled .p-input {
    border: 1px solid #9B525F;
    background: #FFF;
    position: absolute;
    color: #9B525F;
}

.p-multiselect-header {
    display: none !important;
}

.p-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.p-checkbox-icon .p-highlight {
    background-color: #FFF;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out !important;
}

.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox {
    display: flex !important;
    align-items: center !important;
    border: 1px solid var(--sm_red);
}

.p-checkbox-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
    border: 2px solid var(--sm_red) !important;
    border-radius: 0.25rem !important;
    background-color: #FFF;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out !important;
}

.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox .p-checkbox-box.p-highlight {
    background-color: var(--sm_red) !important;
    border-color: var(--sm_red) !important;
}


.p-multiselect .p-multiselect-items .p-multiselect-item .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
    color: #FFF !important;
}

.p-highlight {
    background: #f7e6e9;
    transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out !important;
}


.condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5vh;
}

.condition-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.condition-dropdown {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
}

.page-select {
    display: flex;
    padding-right: 5%;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

.return-image {
    border-radius: 4px;
    border: 5px solid var(--white);
    position: relative;
    /* width: 6vw; */
    width: 40%;
  }

  .return-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }


  .alert-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
    /* padding: 1rem; */
    border-radius: 8px;
  }
  
  .alert-box {
    background: white;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 35px 10px rgba(0,0,0,0.2);
    align-items: center;
  }

  .alert-box p {
    font-family: Akatab;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1.5vh;
  }

  .alert-box h2 {
      font-size: 1.75rem;
    margin-bottom: 2vh;

    color: #000;
    text-align: center;
    font-family: Akatab;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .alert-row {
    display: flex;
    gap: 1rem;
    align-items: right;
    justify-content: right;
  }


  .success-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .success-popup {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    font-family: Arial, sans-serif;
  }
  
  .success-popup h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;

    color: #000;
    text-align: center;
    font-family: Akatab;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .success-popup p {
    font-family: Akatab;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

  }
  
  .success-popup button {
    margin-top: 2rem;
    padding: 0.625rem 1.5rem;

    cursor: pointer;

    border-radius: 5px;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);


    color: #000;
    text-align: center;
    font-family: Akatab;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
  }

  .success-popup button:hover {
    background-color: #9B525F; 
    color: #FFFFFF;
  }