/* standard style for all the buttons*/
.stylish-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding: 11px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #000;
  }

  .stylish-button:hover {
    background-color: #adadad;
  }

  /* style option 1: white background with black border */
  .stylish-button.style1 {
    display: inline-flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Akatab;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 1;

    height: 5vh;
  }

  .stylish-button.style1:hover {
    background-color: #e7e7e7; 
  }
  
  /* style option 2: gray background*/
  .stylish-button.style2 {
    width: 100px;
    height: 50px;
    padding: 11px 10px;
    background: #D9D9D9;
    border: none;
  }

  .stylish-button.style2:hover {
    background-color: #adadad;
  }

  
  /* style option 3: blue background (+item button?) */
  .stylish-button.style3 {
    display: inline-flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #9B525F;
    background: #007781;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Akatab;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 1;

    height: 5vh;
  }

  .stylish-button.style3:hover {
    background-color: #02545c;
  }

  .stylish-button.style4 {
    background: none; 
    border: none;
    color: #000000;
    box-shadow: none;
    height: 40px;
    width: 20px;
  }

  .stylish-button.style4:hover {
    background-color: #C6C6C6;
  }

  .stylish-button.style5 {
    background-color:#9B525F; 
    border: none;
    color: white;
    box-shadow: none;
    height: 40px;
    width: 20px;
  }

  .stylish-button.style6 {
    cursor: not-allowed;
    display: inline-flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #585555;
    background: #C6C6C6;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #4F4141;
    text-align: center;
    font-family: Akatab;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 1;

    height: 5vh;
  }

  .stylish-button.style7 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #9B525F;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Akatab;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 1;
    height: 5vh;
    width: 3vw;
  }

  .stylish-button.style7:hover {
    background-color: #e7e7e7;
  }