/*
 * Authors: Angie and Will
 * Sprint: Dashboard #44
 * Component: Dashboard
 * Purpose: This file contains the css for the Dashboard component.
*/

.dashboard-container {
    padding: 3vh 4vw 3vh 8.25vw;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard-title {
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 1vh;
    color: black;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2vh 2vw;
    gap: 1.5vw;
    margin-bottom: 3vh;
    background: white;
    border-radius: 1vw;
    box-shadow: 0 0.2vh 0.3vh rgba(0, 0, 0, 0.1);
    width: 100%;
}

.stat-card {
    text-align: center;
    background-color: #F8F5F5;
    border-radius: 1vw;
    padding: 4vh 1.5vw;
    min-width: 0;
}

.stat-card.clickable {
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0.2vh 0.3vh rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.stat-value {
    font-size: 4.5vh;
    font-weight: bold;
    margin-bottom: 1vh;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stat-label {
    font-size: 2.5vh;
    font-weight: 400;
    color: black;
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    width: 100%;
}

.chart-card {
    background: white;
    border-radius: 1vw;
    padding: 4vh 2vw;
    box-shadow: 0 0.2vh 0.3vh rgba(0, 0, 0, 0.25);
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.chart-title {
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 0.6vh;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chart-container {
    flex: 1;
    min-height: 0;
    width: 100%;
    position: relative;
    aspect-ratio: 16/9; /* Not really sure if this is right but we can keep it for now */
}

* {
    max-width: 100vw;
    box-sizing: border-box;
}